form{
    margin: 0 auto;
    width: 30%;
    display: block;
}

form div{
    padding: 5px 0;
}

form label{
    display: block;
    padding: 0 10px 0 0;

    
}

form input[type=text]{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
}

.addButton {
    margin: 15px 0;
    padding: 1% 2%;
    background-color:rgb(103, 44, 148);;
    color: white;
    border-radius: 15px;
    border: none;
    text-align: center;
}

.addButton:hover{
    background-color: rgb(156, 68, 223);
}